<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>RegistrationFormController</servlet-name>
		<display-name>RegistrationFormController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.RegistrationFormController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignInFormController</servlet-name>
		<display-name>SignInFormController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.SignInFormController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LatestProductController</servlet-name>
		<display-name>LatestProductController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.LatestProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductLinkController</servlet-name>
		<display-name>ProductLinkController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.ProductLinkController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignoutController</servlet-name>
		<display-name>SignoutController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.SignoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountDetailsController</servlet-name>
		<display-name>AccountDetailsController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.AccountDetailsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditAccountController</servlet-name>
		<display-name>EditAccountController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.EditAccountController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderHistoryController</servlet-name>
		<display-name>OrderHistoryController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.OrderHistoryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderDetailsController</servlet-name>
		<display-name>OrderDetailsController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.OrderDetailsController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BasketController</servlet-name>
		<display-name>BasketController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.BasketController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBasketController</servlet-name>
		<display-name>AddBasketController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.AddBasketController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Checkout1Controller</servlet-name>
		<display-name>Checkout1Controller</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.Checkout1Controller</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckoutController</servlet-name>
		<display-name>CheckoutController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.CheckoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderConfirmationController</servlet-name>
		<display-name>OrderConfirmationController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.OrderConfirmationController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchCatController</servlet-name>
		<display-name>SearchCatController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.SearchCatController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchBrandController</servlet-name>
		<display-name>SearchBrandController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.SearchBrandController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckoutPaymentController</servlet-name>
		<display-name>CheckoutPaymentController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.CheckoutPaymentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProductController</servlet-name>
		<display-name>AddProductController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.AddProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveProductController</servlet-name>
		<display-name>RemoveProductController</display-name>
		<description></description>
		<servlet-class>com.fdmgroup.fdmazon.controller.RemoveProductController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>RegistrationFormController</servlet-name>
		<url-pattern>/registrationFormC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignInFormController</servlet-name>
		<url-pattern>/signInFormC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LatestProductController</servlet-name>
		<url-pattern>/latestProductC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductLinkController</servlet-name>
		<url-pattern>/productLinkC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignoutController</servlet-name>
		<url-pattern>/signoutC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountDetailsController</servlet-name>
		<url-pattern>/accountDetailsC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditAccountController</servlet-name>
		<url-pattern>/editAccountC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderHistoryController</servlet-name>
		<url-pattern>/orderHistoryC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderDetailsController</servlet-name>
		<url-pattern>/orderDetailsC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BasketController</servlet-name>
		<url-pattern>/basketC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBasketController</servlet-name>
		<url-pattern>/addBasketC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Checkout1Controller</servlet-name>
		<url-pattern>/checkout1C</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutController</servlet-name>
		<url-pattern>/checkoutC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderConfirmationController</servlet-name>
		<url-pattern>/orderConfirmationC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCatController</servlet-name>
		<url-pattern>/searchCatC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBrandController</servlet-name>
		<url-pattern>/searchBrandC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutPaymentController</servlet-name>
		<url-pattern>/checkoutPaymentC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProductController</servlet-name>
		<url-pattern>/addProductC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveProductController</servlet-name>
		<url-pattern>/removeProductC</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
